<ion-view>
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="keyword" type="text" placeholder="Book">
        </label>
        <button ng-click="search(keyword, musicType)" class="button button-small button-dark">Search</button>
      </div>
    </div>

    <div ng-show="books.errorInformation" class="list card">
      <div class="item text-center">
        <h2>{{books.errorInformation}}</h2>
      </div>
    </div>

    <ion-scroll ng-hide="books.errorInformation" direction="y">
      <div class="list">
        <div class="list card" ng-repeat="book in books">
          <div class="item item-thumbnail-left">
            <img src="{{book.volumeInfo.imageLinks.smallThumbnail || 'img/no_image.png'}}">
            <h2>{{book.volumeInfo.title}}</h2>
            <p>{{book.volumeInfo.publishedDate}}</p>
            <p><span ng-repeat="author in book.volumeInfo.authors">{{author}} </span></p>
          </div>
          <div class="button-bar bar-positive">
            <a class="button icon-center ion-android-open" ng-click="launchGoogleBooks(book.volumeInfo.canonicalVolumeLink)"> Google Books</a>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
