<ion-view>
  <ion-content ng-hide="hideContent">
    <div ng-show="game.errorInformation" class="list card">
      <div class="item">
        <h2>{{game.errorInformation}}</h2>
      </div>
    </div>

    <div ng-hide="game.errorInformation" class="list card">
      <div class="item">
        <h2>{{game.name}}</h2>
        <p>{{game.release_date.date}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{game.header_image || 'img/no_image.png'}}">
      </div>
      <div class="item item-body" ng-bind-html="game.detailed_description"></div>
      <div class="item">
        <p>Developers: <span ng-repeat="developer in game.developers">{{developer}} </span></p>
        <p>Publishers: <span ng-repeat="publisher in game.publishers">{{publisher}} </span></p>
        <p>Genre: <span ng-repeat="genre in game.genres">{{genre.description}} </span></p>
      </div>
      <div class="button-bar bar-positive">
        <a class="button icon-center ion-social-youtube" ng-click="lauchYoutube(game.name)"> Trailer</a>
        <a class="button icon-center ion-social-twitch-outline" ng-click="lauchTwitch(game.name)"> Stream</a>
        <a class="button icon-center ion-steam" ng-click="lauchSteam(game.steam_appid)"> Buy</a>
      </div>
    </div>
  </ion-content>
</ion-view>
