<ion-view>
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="keyword" type="text" placeholder="Game">
        </label>
        <button ng-click="search(keyword)" class="button button-small">Search</button>
      </div>
    </div>

    <div ng-show="games.errorInformation" class="list card">
      <div class="item text-center">
        <h2>{{games.errorInformation}}</h2>
      </div>
    </div>

    <ion-scroll ng-hide="games.errorInformation" direction="y">
      <div class="list">
        <a class="item item-thumbnail-left" href="#" ng-repeat="game in games" ng-click="viewDetails(game)">
          <img ng-src="{{game.header_image || 'img/no_image.png'}}">
          <h2>{{game.name}}</h2>
          <p>{{game.release_date.date}}</p>
        </a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
