<ion-view>
  <ion-content>
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <input ng-model="keyword" type="text" placeholder="Movie">
      </label>
      <button ng-click="search(keyword)" class="button button-small button-positive">Search</button>
    </div>

    <div ng-show="movies.errorInformation" class="list card">
      <div class="item text-center">
        <h2>{{movies.errorInformation}}</h2>
      </div>
    </div>

    <ion-scroll ng-hide="movies.errorInformation" direction="y">
      <div class="list">
        <a class="item item-thumbnail-left" href="#" ng-repeat="movie in movies" ng-click="viewDetails(movie)">
          <img src="{{movie.Poster || 'img/no_image.png'}}">
          <h2>{{movie.Title}}</h2>
          <p>{{movie.Year}}</p>
        </a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
