<ion-view>
  <ion-header-bar align-title="center" class="bar-stable">
    <button class="button button-icon icon icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Back</button>
    <h1 class="title">{{movie.Title}}</h1>
  </ion-header-bar>
  <ion-content ng-hide="hideContent">
    <div class="list card">
      <div class="item row">
        <div class="col">
          <h2>{{movie.Title}}</h2>
          <p>{{movie.Year}}</p>
        </div>
        <div class="col col-20">
          <button class="button button-icon icon red-icon ion-android-playstore" ng-click="launchGooglePlayStore(movie.Title, movie.Year)"></button>
        </div>
        <div class="col col-20">
          <button class="button button-icon icon red-icon ion-social-youtube" ng-click="lauchYoutube(movie.Title, movie.Year)"></button>
        </div>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{movie.Poster || 'img/no_image.png'}}">
      </div>
      <div class="item item-body">
        <p>{{movie.Plot}}</p>
      </div>
      <div class="item">
        <p>Director: {{movie.Director}}</p>
        <p>Time: {{movie.Runtime}}</p>
        <p>Genre: {{movie.Genre}}</p>
      </div>
      <div class="item">
        <p>IMDB Rating: {{movie.imdbRating}}</p>
        <p>Rotten Tomatoes Rating: {{movie.tomatoRating}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
