<ion-view>
  <ion-content>
    <div class="list card">
      <div class="item row">
        <div class="col col-60">
          <h2>{{movie.Title}}</h2>
          <p>{{movie.Year}}</p>
        </div>
        <div class="col">
          <button class="button button-icon icon red-icon ion-social-youtube" ng-click="lauchYoutube(movie.Title, movie.Year)"></button>
        </div>
        <div class="col">
          <button class="button button-icon icon red-icon ion-play" ng-click="playMovie()"></button>
        </div>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{movie.Poster}}">
      </div>
      <div class="item item-body">
        <p>{{movie.Plot}}</p>
      </div>
      <div class="item">
        <p>Time: {{movie.Runtime}}</p>
        <p>Genre: {{movie.Genre}}</p>
      </div>
      <div class="item">
        <p>IMDB Rating: {{movie.imdbRating}}</p>
        <p>Rotten Tomatoes Rating: {{movie.tomatoRating}}</p>
      </div>
  </div>
  </ion-content>
</ion-view>
