<ion-view>
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="keyword" type="text" placeholder="TV Show">
        </label>
        <button ng-click="search(keyword)" class="button button-small button-dark">Search</button>
      </div>
    </div>

    <div ng-show="tvShows.errorInformation" class="list card">
      <div class="item text-center">
        <h2>{{tvShows.errorInformation}}</h2>
      </div>
    </div>

    <ion-scroll ng-hide="tvShows.errorInformation" direction="y">
      <div class="list">
        <a class="item item-thumbnail-left" href="#" ng-repeat="tvShow in tvShows" ng-click="viewDetails(tvShow)">
          <img ng-src="{{tvShow.show.image.medium || 'img/no_image.png'}}">
          <h2>{{tvShow.show.name}}</h2>
          <p>{{tvShow.show.premiered.substr(0, 4)}}</p>
        </a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
