<ion-view>
  <ion-header-bar align-title="center" class="bar-stable">
    <button class="button button-icon icon icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Back</button>
    <h1 class="title">{{tvShow.name}}</h1>
  </ion-header-bar>
  <ion-content ng-hide="hideContent">
    <div class="list card">
      <div class="item row">
        <div class="col">
          <h2>{{tvShow.name}}</h2>
          <p>{{tvShow.premiered.substr(0, 4)}}</p>
        </div>
        <div class="col col-33">
          <button class="button button-outline button-dark" ng-click="viewEpisodes(tvShow)">Episodes</button>
        </div>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{tvShow.image.medium || 'img/no_image.png'}}">
      </div>
      <div class="item item-body" ng-bind-html="tvShow.summary"></div>
      <div class="item">
        <p>Network: {{tvShow.network.name}}</p>
        <p>Genre: <span ng-repeat="genre in tvShow.genres">{{genre}} <span></p>
        <p>Rating: {{tvShow.rating.average}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
